# My specific virtual environment
/myenv

# Mac
/.DS_Store

# Model Pickel Files. git lfs already handles this.

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
*.so

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm & other IDEs
.idea/
.vscode/
*.swp
*.swo

# Virtual Environment
venv/
env/
ENV/